# Node.js application environment variables
NODE_ENV=development
PORT=3000

# Limiter configuration
LIMIT=100
LIMIT_MESSAGE=Too many requests from this IP, please try again later.

# CORS configuration
ALLOWED_ORIGINS=http://localhost:3000,http://example.com

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

# Database configuration (Decide string connection or individual parameters)
DATABASE_URL=postgres://user:password@localhost:5432/mydatabase

DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydatabase

# The rest of your environment variables lies below here...